:root{
    --bg-section:#01a9aa;
    --bg-light:#ffffff;
}

header{
    width: 100%;
    height: 80px;
    background-color: var(--bg-light);
}

footer{
    height: 80px;
    background-color: var(--bg-light);
}

#wrapper{
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-section);
}

.CPM-box{
    width: 500px;
    height: 500px;
}

.CPM-cell{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CPM-bg-green{
    background-color: green;
}